@model PizzaBox.Client.Models.PizzaViewModel

@{
  ViewBag.Title = "Create";
}

<form action="/pizza/create" method="post" onsubmit='return View("~/Views/Shared/NewOrder.cshtml")'>
  @Html.AntiForgeryToken()

  @foreach (var item in Model.SizeList)
  {
    <label >@String.Concat(item.Name," $",item.Price," ") @Html.RadioButtonFor(pvm => pvm.Size, item.Name)</label>
  }

  <br>
  <select asp-for="@Model.Crust">
    @foreach (var item in Model.CrustList)
    {
      <option value="@item.Name" id="CrustOption">@String.Concat(item.Name," $",item.Price," ")</option>
    }
  </select>
  <br>
  <br>
  <table>
    <tr>
      <td>
        @for (int i = 0; i < Model.ToppingList.Count; i++)
        {
          @Html.CheckBoxFor(pvm => Model.ToppingList[i].Selected)
          @Model.ToppingList[i].Name
          @Html.HiddenFor(pvm => Model.ToppingList[i].Id)
          @Html.HiddenFor(pvm => Model.ToppingList[i].Name)
        }
      </td>
    </tr>
  </table>

  <button type="submit" value="Submit">Submit Pizza</button>
</form>