@model PizzaBox.Client.Models.OrderViewModel

<h1>New Order</h1>
<h2>User Name @Model.Username</h2>
<h4>Store: @Model.StoreName</h4>
<h3>Order Id @Model.order.Id</h3>




<input type="button" title="NewPizza" value="Add Pizza" onclick="location.href='@Url.Action("Create", "Pizza")?id=' + @Model.order.Id" />

  @Html.AntiForgeryToken()

@if(@Model.pizzas != null){
  <ol>
  @{var n = 1;}
  @for(int i = 0; i < @Model.pizzas.Count; i++)
  {
    @* <p>Pizza # @i+1 @Model.pizzas[i].Size.Name @Model.pizzas[i].Crust.Name</p>
    <p>@Model.pizzas[i].Size</p>
    <p>@Model.pizzas[i].Crust</p> *@
  
    
      <li>Pizza #@n</li>
      <ul>
        <ul>@String.Concat("$", @Model.pizzas[i].Price)</ul>
        <ul>@Model.pizzas[i].Size.Name</ul>
        <ul>@Model.pizzas[i].Crust.Name</ul>
        @foreach (var item in @Model.pizzas[i].PizzaToppings)
        {
          <ul>@item.ToppingId</ul>
        }
      </ul>
  }
  </ol> 
  }
   
else{
  <h5>No Pizzas Created :(</h5>

}

<input type="button" value="Confirm Order" onclick="location.href='@Url.Action("Confirm", "account")?id=' + @Model.order.Id" />
