@model PizzaBox.Client.Models.AccountViewModel

<h1>User: @ViewData["Username"]</h1>

<form action="/account/neworder" method="post">
    <select asp-for="@Model.Stores">
    @foreach (var item in @Model.Stores)
    {
      <option value="@item.StreetAddress" id="StoreOption">@String.Concat(item.StreetAddress,", ",item.City," ",item.State)</option>
    }
    </select>
    <button type="submit" value="Submit" >New Order</button>
</form>

<a href="/order/history">Order History</a>
<a href="/account/logout">logout</a>
